In [3]:
import pandas as pd
import numpy as np

In [4]:
np.__version__

'1.21.5'

In [5]:
df = pd.read_csv('car_price.csv')
df.tail(3)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [6]:
df.shape

(11914, 16)

In [7]:
# Most popular car manufacturers
df['Make'].mode()

0    Chevrolet
Name: Make, dtype: object

In [8]:
df['Make'].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [9]:
# Number of unique Audi car models
df2 = df.loc[df['Make'] == 'Audi', 'Model']

In [10]:
df2.shape

(328,)

In [11]:
num_unique = df2.value_counts()

In [12]:
len(num_unique)

34

In [13]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

#### Question 7

In [14]:
#1 Select all the 'Lotus' cars from the dataset
df_lotus = df.loc[df['Make'] == 'Lotus']

In [15]:
#2 Select only columns "Engine HP", "Engine Cylinders"
#3 drop all duplicated rows using drop_duplicates method
#4 Get the underlying NumPy array. Let's call it X

X = df_lotus[['Engine HP',  'Engine Cylinders']].drop_duplicates().to_numpy()

#5 Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [16]:
XT = X.T

In [17]:
XTX = np.matmul(XT, X)

In [18]:
#6 Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)

In [19]:
#7 Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [28]:
#8 Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w
w = XTX_inv.dot(XT).dot(y)

In [29]:
#9 What's the value of the first element of w

w[0]

4.594944810094579